<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DGSegmentedControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18DE8F8A1C7466A00099F63D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DE8FA11C7466A10099F63D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DE8FAC1C7466A10099F63D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
